<%- include("./partials/header.ejs") -%>
<div class="container p-5">
<form method="POST" action="/signup">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp">
      <small id="username" class="form-text text-muted">Write your name</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">SignUp</button>
  </form>
</div>
<%- include("./partials/footer.ejs") -%>